spring:
  datasource:
    username: root
    password: 1234
    url: jdbc:mysql://localhost:3308/REDIS
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    org.springframework.cache: trace



